* {

}

:root {
  --blue: #92cbce;
  --grey: #32343d;
}

.header {
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  max-height: 100px;
}

.header h1 {
  background-color: var(--blue);
  color: var(--grey);
  padding: 5px 7px 5px 40px;
}

.nav-bar {
  display: flex;
  color: var(--blue);
  padding: 14px 20px;
}

.nav-bar a {
  text-decoration: inherit;
  font-size: 18px;
  color: inherit;
  margin: 15px 10px;
  border-bottom: var(--blue) solid 3px;
}

.nav-bar section {
  align-items: flex-end;
  display: flex;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#aboutme-bx {
  display: flex;
}

#work-bx {
  display: flex;
}

.sidebar-work {
  flex: auto;
}

.work-container {
  display: flex;

}

aside {
  min-width: 300px;
}

footer {
  display: flex;
}