/* general color variables */
:root {
  --blue: #92cbce;
  --grey: #32343d;
  --darkBlue: #445875;
}

/* --- HEADER --- */
  .header {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    max-height: 100px;
  }

  .header h1 {
    background-color: var(--blue);
    color: var(--grey);
    padding: 5px 7px 5px 40px;
    margin-left: 0;
  }

  /* --- header nav bar --- */
  .nav-bar {
    display: flex;
    color: var(--blue);
    padding: 14px 20px;
  }

  .nav-bar a { /* added in inherit values to remove classic hyperlink formatting */
    text-decoration: inherit;
    font-size: 18px;
    color: inherit;
    margin: 15px 10px;
    border-bottom: var(--blue) solid 3px;
  }

  .nav-bar a:hover {
    background-color: var(--blue);
    color: var(--grey);
    /* would have liked to have created a transition here starting from the bottom of the box */
  }

  .nav-bar section {
    align-items: flex-end;
    display: flex;
  }

/* --- BANNER --- */
  figure { 
    margin: 0; 
  }

  #banner img {
    width: 100vw; /* makes image banner take up whole width of screen */
    height: 16vh;
    object-fit: cover;
  }

  /* blue caption box in banner image */
  .banner-cap {
    position: absolute;
    right: 36px;
    top: 178px;
    background-color: var(--blue);
    color: var(--grey);
  }

  .banner-cap h2 {
    margin: 10px;
  }

/* --- MAIN CONTAINER --- */
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  /* --- aside section --- */
    .about-me {
      margin-left: 20px;
    }
  
    #aboutme-bx {
      display: flex;
    }

    aside {
      display: flex;
      margin: 18px;
      min-width: 250px;
      border-right: var(--darkBlue) solid 4px;
      color: var(--darkBlue);
      justify-content: right;
    }

    aside h1 {
      margin: 0.67rem; /* added to give headers in sidebar space */
    }

    /* not sure why i added this, but keeping incase code breaks later */
    /* .sidebar-work {
      flex: auto; 
    } */

    /* another redundant piece of code, keeping incase code breaks later */
    /* .aside-h1 {
      text-align: right;
    } */

  /* --- project container --- */
    .work-bx { /* side bar + project container */
      display: flex;
      width: 100%;
    }

    .project-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
    }
    .work {
      display: flex;
      border: 5px solid var(--blue);
      margin: 8px 0px;
      background-color: yellow;
    }

    .big-tile { /* making larger container */
      flex: 0 0 93.5%; 
      min-height: 500px;
    }

    .small-tile {
      flex: 0 0 45%;
      height: 150px;
    }

    .project-header-tag { /* blue boxes in the bottom left of project tiles */
      align-self: flex-end;
      background-color: var(--blue);
      color: var(--grey);
      margin-bottom: 10px;
      padding: 10px;
    }

    .project-header-tag h3 { 
      margin-bottom: 0;
      margin-top: 5px;
    }

    .project-header-tag p {
      margin-top: 5px;
      margin-bottom: 10px;
      margin-bottom: 5px;
    }

    .work:hover {
      opacity: 73%;
    }

    /* i don't have any real projects to link here yet, so i'm just using placeholder images for now
    when i do have projects to upload i will make the project tiles clickable by nesting them in anchor tags */
    .project-1 {
      background-image: url(https://via.placeholder.com/500);
    }

    .project-2, .project-3, .project-4, .project-5 {
      background-image: url(https://via.placeholder.com/100);
    }

/* --- FOOTER ---*/
  footer {
    display: flex;
  }

  footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-bar {
    justify-content: space-around;
    width: 1000px;
  }

  .contact-bar a {
    text-decoration: inherit;
    font-size: 18px;
    color: inherit;
    margin: 15px 10px;
    border-bottom: var(--blue) solid 3px;
    font-size: larger;
  }

/* --- IPHONE XR SCREEN SIZING --- */
/* since i have an iphone xr, that is why i chose to practice resizing screen to that size
in the future i would like to optimize for additional desktop and phone screen sizes */
  @media screen and (max-width: 415px) {

  /* --- XR HEADER --- */
    .header {
      flex-wrap: wrap;
    }

    .nav-bar  section {
      position: relative;
      top: -27px;
      left: 18px;
      z-index: 1;
    }

    .banner-cap {
      right: 12px;
      top: 207px;
    }

  /* --- XR MAIN CONTAINER --- */
    #aboutme-bx {
      flex-direction: column;
    }
    
    .work-bx {
      flex-direction: column;
      justify-content: center;
    }

    aside {
      justify-content: center;
      border-right: none;
      border-bottom: var(--darkBlue) 3px solid;
    }

    .big-tile {
        min-height: 300px;
      }

  /* --- XR FOOTER --- */
    footer {
      flex-direction: column;
    }

    .contact-bar {
      max-width: 414px;
    }
}